/*stylesheet for FZ's personal web class page.*/
/*steel from Zach*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #217867;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.mainnav {
    height: 100%;
    position: fixed;
    max-width: 1000px;
    z-index: 1;
    top: 0;
    left: 221;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.weeknum{
  color: #D7F4EE;
  font-size: 19px;
}

.weeknum_fade{
  color: #D7F4EE44;
  font-size: 16px;
}

.weekname{
  color: #ffffff;
  font-size: 18px;
  font-variant: small-caps;
}

.weekname_fade{
  color: #ffffff44;
  font-size: 18px;
  font-variant: small-caps;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
    color: #37C8AB;
}

a:visited {
    color: #37C8AB;
}

th {
    text-align: left;
}

/*gallery class*/
.gallery {
  margin: 1px;
  border: 1px solid #ddd;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 30%;
  height: auto;
  float:left;
}

.info {
  margin-left: 32%;
  /* float:left; */
}

.learn_more_btn {
  margin-left: 53%;
  /* float:left; */
}

.codebox {
  display: block; 
  padding: 3px 3px 2px; 
  text-align: left;
  height: 600px;
  width: 100%;
  background-color: #111;
  overflow: auto;
}